body {
  font-family: 'Amatic SC', cursive;
  height: 100vh;
}

/* #dash-body {

  background-image: url(freestocks-org-126848-unsplash.jpg);
} */

.alt-body {
  padding: 60px 0 0;
  margin: 0;
  font-size: 18px;
  height: 100vh;
}

header, .login-header {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

#register-text {
  font-size: 2em;
}

h1 {
  font-size: 6em;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  text-align: center;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

form {
  width: 400px;
  padding: 40px;
  border-radius: 3px;
  /* background: white; */
  margin: 0 auto;
}

li {

  list-style: none;
}

form legend {
  width: 100%;
  line-height: 40px;
  font-size: 3em;
  font-weight: 300;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  margin: 0 auto 45px;
}

label {
  color: #000000;
  font-size: 1.5em;
}

#search-label {
  font-size: 1.75em;
}

#dosage, #frequency {
  font-size: 1.3em;
}

.user-entry {
  font-size: 1.75em;
}

.login {
  text-align: center;
}

a:link {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

a:visited {
  color: #000000;
}

#login-button {
  font-size: 2em;
}

#user-med-item {
  border-style: : none !important;
  font-family: 'Amatic SC', cursive;
  overflow: auto;
}

#login-button {
  margin-left: 0.8rem;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  vertical-align: middle;
  padding: 20px;
}

#login-button:hover {
  background-color: #000000;
  color: white;
  border-radius: 10%;
}


.med-item, .js-dosage, .js-frequency {
  font-family: 'Amatic SC', cursive;
  font-size: 2.5rem;
  margin-top: 20px;
  border-bottom: 1px solid black;
}

.user-med-item {
  margin-top: 10px;
  padding-right: 50px;
  font-family: 'Amatic SC', cursive;
}

p, .js-search-list {
  font-size: 3.5em;
  font-family: 'Amatic SC', cursive;
}

.js-add-form {
  background: radial-gradient(#ffffff 0%, #e6f0ff 100%);
  border: 1px solid #ffeecc;
}

#results {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 6em;
  text-align: center;
}

.row {
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}

.medication-item-delete {
  display: block;
  float: left;
  width: 25%;
  height: auto;
  text-align: center;
  font-size: 1.2em;
  color: black;
  background: none;
  margin: 10px auto;
  transition: opacity 0.4s;
}

.medication-item {
  font-size: 1.3em;
  font-family: 'Roboto';
}

ul li span {
  display: block;
  width: 100%;
  text-align: left;
}


input[type="text"],
input[type="password"],
button[type="submit"] {
  display: block;
  width: 100%;
  height: auto;
  text-align: left;
  padding: 15px;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  background: #ffffff;
  margin: 10px auto;
  transition: opacity 0.4s;
}

input[type="submit"], .button-label, .js-item-delete {
  height: auto;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  color: white;
  background: #000000;
  border: 0;
  cursor: pointer;
  margin-bottom: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus
input[type="button"]:focus {
 /* Restore desirable focus behavior
 in non-webkit browsers like Firefox */
 outline: auto 2px #87ceeb;
 /* Preseve default focus behavior in webkit browsers */
 outline: auto 5px -webkit-focus-ring-color;
 box-shadow: 0;
}

footer {
  text-align: center;
}

@media only screen and (max-width: 320px) {
  h3, footer{
    display: none;
  }

  h1 {
    font-size: 40px;
  }

  .medication-item-delete {
    display: inline;
    width: 50%;
    height: auto;
    text-align: center;
    font-size: 22px;
    color: white;
    background: black;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: auto;
  }
}
